<% if current_admin.try(:admin?) %>
  <%= link_to "Home", root_path, class: "btn btn-warning pull-left" %>
  <p>You are logged in as: <strong><%= current_admin.email %></strong></p>
  <h1 class="jumbotron">Settings</h1>
  <p><%= link_to "Photos", photos_path, class: 'btn btn-info' %></p>
  <p><%= link_to "Testimonials", testimonials_path, class: 'btn btn-info' %></p>
<% else %>
  <% if current_admin %>
    <p>You are logged in but have no adminstrative rights.</p>
    <p>Please contact <a href="mailto:snyder@marksinteriorpainting.com?subject=Admin">Sean Snyder</a> for Admin access.</p>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <p><%= link_to('Login', login_path ) %></p>
  <% end %>
<% end %>
