<%= simple_form_for @photo do |f| %>
  <%= f.input :title, placeholder: "Fresh Paint!" %>
  <%= f.input :description, placeholder: "Love the smell of fresh new paint on the walls!" %>
  <%= f.input :image %>
  <%= f.button :submit %>
<% end %>
<p></p>
