<%= form_for @photo do |f| %>
  <p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  </p>

  <p>
  <%= f.label :description %>:
  <%= f.text_field :description %><br>
  </p>

  <br />

  <p>
  <%= f.label :image %>:
  <%= f.file_field :image %>
  </p>

  <br />
  <p><%= f.submit "Submit", class: 'btn btn-primary' %> </p>
<% end %>
