<h3>All Photos</h3>
<%= link_to fa_stacked_icon("plus", base: "square-o") + " Add Photo", new_photo_path %>

<div class="row well" id="all-photos">
  <% @photos.each do |photo| %>
    <div class="col-xs-4 col-md-2" id="each-photo">
      <a href='<%= photo_path(photo) %>' alt='<%= photo.title %>'><%= image_tag photo.image.url(:thumb), class: 'img-thumbnail img-responsive' %></a>
    </div>
  <% end %>
</div>
<%= link_to "Back", settings_path, class: 'btn btn-primary' %>
